

<a href="/{{trainerid}}/{{tpId}}">
<div>

{{!-- <img src="{{pokemonlist.image}}" alt="Your Pokemon is Ready" width="500" height="600"> --}}
<img src="/images/charmander.png" alt="Your Pokemon is Ready" width="500" height="600">
{{!-- <h1>{{pokemonlist.name}}</h1>
<h3>{{trainerspokemon.id}}</h3> --}}
<h1>Bill Murray</h1>


</div>
</a>